main {
	padding-bottom: 40px;
}

#gallery {
	padding-left: 40px;
	padding-right: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
	gap: 20px;
}

#gallery img {
	width: 800px;
	max-width: 100%;
}

@media (max-width: 750px) {
	#gallery {
		grid-template-columns: 1fr;
	}
}

@media (min-width: 751px) and (max-width: 999px) {
	#gallery {
		grid-template-columns: 1fr 1fr;
	}
}
