.gallery_title {
    font-size: 30px;
    text-align: center;
}

.gallery_image {
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    margin-top: 20px;
}

.gallery_image img {
    width: 100%;
    border-radius: 10px;
    justify-self: center;
}

.gallery_image img:hover {
    box-shadow: 2px 2px 5px;
    cursor: pointer;
    transform: scale(1.03);
}

.gallery_image img:active {
    box-shadow: 2px 2px 5px;
    opacity: 0.5
}

@media (max-width: 1000px) {
	.gallery_image {
		grid-template-columns: 60%;
	}
}

@media (min-width: 1200px) {
	.gallery_image {
		grid-template-columns: 30% 30%;
	}
}